Language: Cpp
BasedOnStyle: LLVM

# RMCS uses spaces and four-space indentation.
UseTab: Never
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
AccessModifierOffset: -4

Standard: c++23
ColumnLimit: 100
MaxEmptyLinesToKeep: 1

BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakBeforeBinaryOperators: NonAssignment

AlignAfterOpenBracket: AlwaysBreak
AlignOperands: AlignAfterOperator
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 64
AlignConsecutiveAssignments:
  Enabled: false
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveDeclarations:
  Enabled: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

PointerAlignment: Left
IndentPPDirectives: AfterHash
PPIndentWidth: 1
IndentWrappedFunctionNames: true

AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true

FixNamespaceComments: true
IncludeBlocks: Preserve

AlwaysBreakTemplateDeclarations: Yes
IndentRequiresClause: false
RequiresClausePosition: SingleLine
