build/
devel/
install/
log/
logs/
devel_isolated/
build_isolated/

msg_gen/
srv_gen/
msg/_*.py
srv/_*.py

*.cfgc
/cfg/cpp/
/cfg/*.py

.project
.cproject
CMakeLists.txt.user
*.user
qtcreator-*

*.pyc
*.pcd
*~
.#*

/planning/cfg
/planning/docs
/planning/src